{% for filter in filters %}
  {% if filter.label == 'Color' %}
    {% for filter_value in filter.values %}
      <a href="{{ filter_value.url_to_add | escape }}">
        <img
          width="30"
          height="30"
          src="{{ filter_value.label | downcase | replace: ' ', '_' | append: '.jpg' | file_img_url }}"
        >
        {{- filter_value.label | escape -}}
      </a>
    {% endfor %}
  {% endif %}
{% endfor %}
