<div class="page-width">
  <h1>hues demo</h1>
</div>

{% schema %}
{
  "name": "hues",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
