{%- if product.metafields.ase.safety_warning -%}
  <div class="page-width">
    <p>WARNINGS</p>
    <ul>
      {%- assign warnings = product.metafields.ase.safety_warning.value | sort: 'order_str' -%}
      {%- for warning in warnings -%}
        <li>{{ warning.text }}</li>
      {% endfor %}
    </ul>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "product-safety-warnings",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "product-safety-warnings"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
