{% comment %} ?view=test&sort_by=best-selling&filter.v.price.gte=&filter.v.price.lte=&filter.p.m.ase.color=Amethyst&sort_by=price-ascending {% endcomment %}
{%- assign any_filter_active = 0 -%}
{%- for filter in collection.filters -%}
  {% if filter.active_values.size > 0 %}
    {% assign any_filter_active = 1 %}
  {% endif %}
{%- endfor -%}
{%- if any_filter_active == 0 -%}
  {% comment %} render product grid {% endcomment %}
  {%- render 'ase-color-palette', filters: collection.filters -%}
{%- else -%}
  {% comment %} render product grid {% endcomment %}
  <p>Product Grid</p>
{%- endif -%}
