.ase-color-palette {
    display: grid;
    column-gap: 2px;
    row-gap: 2px;
}

.ase-color-palette-item {
    display: flex;
}

.ase-color-palette-item-title {
    margin-left: 1rem;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1em;
    vertical-align: middle;
    color: #203065
}
@media screen and (max-width: 750px) {
    .ase-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 750px) and (max-width: 989px) {
    .ase-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 990px) and (max-width: 1199px) {
    .ase-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .ase-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}